:root {
    --from-label-font-size: 1.2rem;
    --from-input-background-color: hsl(var(--color-base-hue), 100%, 31%);
    --from-input-border-color: hsl(var(--color-base-hue), 100%, 50%);
    --from-input-border-color-ligth: hsl(var(--color-base-hue), 100%, 80%);
}

.from-row {
    display: flex;
    margin-bottom: .5rem;
}

.from-item {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    flex-grow: 1;
    flex-basis: 0;
}

.from-item:first-child {
    margin-left: 0;
}

.from-item-no-grow {
    flex-grow: 0;
}

.from-row-end {
    justify-content: flex-end;
}

.from-item > label {
    font-size: var(--from-label-font-size);
    margin-bottom: .25rem;
    margin-left: .25rem;
}

.from-item input, .from-item select, .from-item textarea {
    height: 2rem;
    padding: .25rem .5rem;
    border-radius: .25rem;
    border: 1px solid var(--from-input-border-color);
    background-color: var(--from-input-background-color);
    color: var(--color-text-light);
    font-size: 1rem;
    font-weight: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline: none;
}

.from-item textarea {
    height: 100%;
    resize: none;
}

.from-item select option {
    background-color: black;
}

.from-item input:focus, .from-item select:focus, .from-item textarea:focus {
    border-color: var(--from-input-border-color-ligth);
}

.filepond--root {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0;
}

.filepond--panel-root {
    background-color: var(--from-input-background-color);
    border: 1px solid var(--from-input-border-color);
}

.filepond--drop-label {
    color: var(--color-text-light);
    font-size: inherit;
}